<%- include("partials/header") -%> 

<div class="mainContent">
        <h1>Compose</h1>
      <form class="form-group" action="/compose" method="post">
        <div class="form-control form-margin">
            <p>Title</p>
            <input type="text" name="newTitle">

        </div>
       
        <div class="form-control form-margin">
            <p>Post</p>
            <textarea rows="8" col="20" name="newPost"></textarea>
            

        </div>

        <button class = "btn" type="submit">Publish</button>
        </form>

</div>

    <%- include("partials/footer") %> 